@charset "UTF-8";

h1 {
	font-size: 110%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 5px;
	border-left: 5px solid #666;
}

.section {
	width: 300px;
	border: 10px solid #666;
	padding: 0 1em;
}

strong {
	color: #b22222;
}

/* 単位ありでの指定 */

.united p {
	line-height: 1em;
	font-size: 16px;
}
.united p strong {
	font-size: 24px;
}

/* 単位なしでの指定 */

.unitless p {
	line-height: 1;
	font-size: 16px;
}
.unitless p strong {
	font-size: 24px;
}
