@charset "UTF-8";

body {
	margin: 30px 30px;
	font-family: 'ヒラギノ角ゴ Pro W3', 'メイリオ', Verdana, Arial, sans-serif;
}

h1:before {
	display: block;
	content: url(image.jpg);
}

h1 {
	height: 80px;
	overflow: hidden;
}